[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/mash"]
	path = lib/mash
	url = https://github.com/cdave1/mash.git
[submodule "lib/difont"]
	path = lib/difont
	url = https://github.com/cdave1/difont.git
